---
layout: newhome
author_profile: false
sidebar: false
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Done is better than Perfect</h1>
				<p class="editable">
					Currently working as a MCU Design Engineer at ST Microelectronics Korea.
					<br>
					Interested in <b>Nano-Scale Device & AI Technology</b>, now I've been building up expertise in <b>Next generation AI-Solutions</b> such as <b>Neuromorpic System.</b>
					<br>
				</p>

				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

				<div style="
				display: flex;
				justify-content: center;
				align-items: left;
				gap: 30px;
				height: 50px; 
				padding: 10px 20px;
				border: 3px solid black;
				border-radius: 8px;
				background-color: #ffffff;
				margin-top: 40px;
			  ">
			  
				<!-- GitHub 버튼 -->
				<a href="https://github.com/miniharu22" target="_blank" style="
				  color: black;  
				  text-decoration: none;
				  font-size: 14px;
				  display: flex;
				  align-items: center;
				  gap: 8px;
				">
				  <i class="fab fa-fw fa-github"></i> GitHub
				</a>
			  
				<!-- Email 버튼 -->
				<a href="mailto:miniharu22@gmail.com" style="
				  color: black;  
				  text-decoration: none;
				  font-size: 14px;
				  display: flex;
				  align-items: center;
				  gap: 8px;
				">
				  <i class="fas fa-fw fa-envelope-square"></i> Email
				</a>
			  
			  </div>
			</div>
		</div>
		<div class="column">
			<img src="/assets/images/face.png" alt="banner image" style="
  				display: block;
				margin-left: 40px;
				margin-top: 0px;
  				padding: 0;
  				max-width: 70%;
  				height: auto;
  				background: none;
  				border: none;
				">
		</div>
	</div>
</header>


<div class="container" style="margin-top: -30px;">
	<h2 class="editable" style="text-align: center;">A little bit about me</h2>

	<div id="terminal">
		<div id="bar"></div>

	<div id="screen">
		<!-- start of the screen -->
		<p class="command">ls Interests</p>
		<p class="response array">
			<span class="array-element">Logic & Memory Device</span>,
			<span class="array-element">Memristor</span>,
			<span class="array-element">Neural Network System</span>,
			<span class="array-element">AI Solution</span>,
			<span class="array-element">Neuromorpic Device</span>
		</p>

		<p class="command">ls programming skills</p>
		<p class="response array">
			<span class="array-element">TCAD(Scheme/TCL)</span>,
			<span class="array-element">Python</span>,
			<span class="array-element">MATLAB</span>,
			<span class="array-element">C++</span>,
			<span class="array-element">HTML/CSS</span>,
			<span class="array-element">Git</span>
		</p>

		<p class="command">
			<span class="cursor">&nbsp</span>
		</p>
	</div>
	</div>
</div>


<div class="container">
	<h2 class="editable" style="text-align: center;">📨 Connect with me! </h2>
		<ul class="thirds">

			<li class = "narrow">
				<div class="image">{% include icon.html icon="look" %}</div>
				<h3 class="editable">Look Around</h3>
				<p class="editable">Look through my <a href="https://chaerim-kim.github.io/projects/">projects</a>, what I'm working on and the issues I'm currently interested in! </p>
			</li>

			<li class = "narrow">
				<div class="image"> <a href="https://github.com/chaerim-kim/">{% include icon.html icon="github" %}</a> </div>
				<h3 class="editable">Github</h3>
				<p class="editable">See the details of my projects <a href="https://github.com/chaerim-kim/"> here</a>. </p>
			</li>

			<li class = "narrow">
				<div class="image"><a href="mailto:kcl0720@gmail.com">{% include icon.html icon="email" %}</a></div>
				<h3 class="editable">Email</h3>
				<p class="editable">If you’d like to chat, <a href="mailto:kcl0720@gmail.com"> get in touch </a> with me! </p>
			</li>
	</ul>
</div>


<div class="container">
	<h2 class="editable" style="text-align:center;">✍🏼 Recent Posts </h2>
		<div class="posts">
			{% for post in paginator.posts limit:4 %}
				{% include recent-posts.html type="grid" %}
			{% endfor %}
		</div>
</div>


