---
layout: archive
---

{{ content }}

{% assign publish_categories = "" | split: "" %}

{% for post in site.posts %}
  {% if post.publish %}
    {% unless publish_categories contains post.publish %}
      {% assign publish_categories = publish_categories | push: post.publish %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% assign sorted_categories = publish_categories | sort %}

<ul class="taxonomy__index">
  {% for category in sorted_categories %}
    <li>
      <a href="#{{ category | slugify }}">
        <strong>{{ category }}</strong>
      </a>
    </li>
  {% endfor %}
</ul>

{% for category in sorted_categories %}
  <section id="{{ category | slugify }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in site.posts %}
        {% if post.publish == category %}
          {% include archive-single.html type=page.entries_layout %}
        {% endif %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">
      {{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;
    </a>
  </section>
{% endfor %}
